<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>A-Plan</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/about_us.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand-home">
                    <a href="/">
                        A-Plan
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a href="/logout">
                        Logout
                    </a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="/dashboard">Course Catalogue</a>
                </li>
                <li>
                    <a href="/mypage">Generate Schedules</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
        <h1>
            About Us
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non interdum dolor. Praesent rhoncus viverra eros, sit amet gravida purus posuere et. Vestibulum ac tellus tortor. Nunc eget porta metus, eget pulvinar dolor. Aliquam rhoncus id dolor ac fermentum. Mauris massa risus, ullamcorper nec lorem vitae, dictum volutpat urna. Fusce convallis, ex convallis posuere hendrerit, nisi est vulputate leo, at semper elit sapien non erat.
        </p>
        <p>
            Nullam ac lectus sit amet nulla cursus pretium quis eu nibh. Donec ac ullamcorper dolor. Morbi semper diam mi, auctor posuere nulla vulputate ac. In eget libero nec velit semper ultricies. Vivamus pretium nunc vitae finibus molestie. Vestibulum non placerat velit, id tincidunt ligula. Pellentesque a eleifend nisl. Nullam fermentum, augue et iaculis commodo, magna leo iaculis erat, pulvinar rutrum ex libero non magna.
        </p>
        <p>
            In hac habitasse platea dictumst. Quisque ut nunc porttitor, placerat neque condimentum, venenatis eros. In placerat efficitur mauris id laoreet. Curabitur molestie vel risus et pulvinar. Etiam justo risus, elementum eu elementum dapibus, viverra a nunc. Nunc molestie tempus faucibus. Nunc sit amet feugiat odio. Phasellus nec est a sapien egestas sodales nec id nisi. Nullam et arcu non erat fermentum rutrum in nec massa.
        </p>
    </div>
    
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>