<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
  <a class="navbar-brand" href="#">A-PLAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="nav-link" href="/about">About</a>
      </li>

    </div>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->

      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %} <!-- if the user is logged in it will only see the Dashboard and logout link  -->
         <!--<li><a href="/dashboard">Dashboard</a></li>        <li><a herf="/logout">Logout</a></li>    <li><a herf="/register">Register</a></li>    <li><a href="/logout">Logout</a></li>                                -->

         <li><a href="/dashboard"><span class="glyphicon glyphicon-user"></span>Dashboard</a></li>



         <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
        {% else %}
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span>Login</a></li>
        {% endif %}
    </ul>
<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>  -->
    </form>

</nav>
